#include <windows.h>
1 ICON "assets/still.ico"
1 VERSIONINFO
 FILEVERSION 0,2,1,0
 PRODUCTVERSION 0,2,1,0
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "CompanyName", "Still\0"
   VALUE "FileDescription", "Still Notes\0"
   VALUE "FileVersion", "0.2.1\0"
   VALUE "InternalName", "Still\0"
   VALUE "OriginalFilename", "Still.exe\0"
   VALUE "ProductName", "Still\0"
   VALUE "ProductVersion", "0.2.1\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
